a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: rgb(8, 98, 241);
    --color-primary-variant: rbga(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
  
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-md: 90%;
    --transition: all 400ms ease;
  }
.ulskill{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.ulskill li{
    font-size: smaller;
    margin: 5px;
    border: 1px solid;
    list-style-type: none;
    background-color: var(--color-bg-variant);
} 
.ulskill li:hover{
    background-color:var(--color-primary);
    box-shadow: 0px 0px 13px 0px;
}

.Contactme{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Contactme div{
    border: 1px solid;
    margin: 10px;
    padding: 5px;
    background-color: var(--color-bg-variant);
}